; @see https://pnpm.io/supply-chain-security, use similar config for NPM as soon as available
;minimumReleaseAge=10080
;trustPolicy=no_downgrade
;blockExoticSubdeps=true
; @todo maybe use https://www.npmjs.com/package/@lavamoat/allow-scripts
ignore-scripts=true
